@font-face {
	font-family: nasalization;
	src: url(../Typodermic\ -\ NasalizationRg-Regular.otf);
  }
  
html {
	scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: url(../images/black_background.png);
    font-family: nasalization;
}
* {
  box-sizing: border-box;
}

/* Custom css Starts here */
img {
    width: 10%;
    display: block;
    margin: auto;
}
h1 { 
    font-size: calc(39px + 1vw);
    margin: 10px 0;
}
a{
	text-decoration: none;
}
p {
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.social {
    color: #fff;
    text-align: center;
	margin: 50px 0;
}

.icons {
    text-transform: uppercase;
    top: 65vh;
    LEFT: 28%;
	    width: 60%;
    margin: auto;
    DISPLAY: flex;
    z-index: 999;
    COLOR: #FFF;
    border: 1px solid #fff;
    padding: 0 20px;

}
.icons p {
	white-space: nowrap;
    font-size: 24px;
}
.icons img.aroimg{
	WIDTH: 23%;
    HEIGHT: 20%;
    padding: 10px 10px 10px 25px;
}
.icon-sec img, .icon-sect img{
    padding: 0;
    WIDTH: auto;
    margin: 27px 20px 0 0;
    height: auto;
	}
.icons .icon-sec{
	display: flex;
    padding: 10px 47px 10px 16px;
}
.icons .icon-sect {
	display: flex;
    padding: 10px 1px;
}
section#sec1 .social .icons i {
    color: white;
    font-size: 3vh;
    z-index: 999;
    padding: 29px 10px;
}
.hill img {
    width: auto;
    border: 0;
    margin: auto;
}
.icons p {
	font-size: 24px;
}
section#sec1 {
width: 100%;
    height: 100vh;
    display: flex;
}
section#sec1 .animationVid video {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	pointer-events: none;
}
section#sec1 .animationVid .social {
	position: absolute;
	top: 90vh;
	right: 3px;
	z-index: 999;
}
section#sec1 .animationVid .social i {
	color: white;
	font-size: 6vh;
	z-index: 999;
}

@media only screen and (max-width: 1494px) {
  .icons img.aroimg {
    WIDTH: 17%;
}
}
@media only screen and (max-width: 1382px) {
.icons {
    width: 66%;
	}
}
@media only screen and (max-width: 1382px) {
.icons {
    width: 75%;
	}
}
@media only screen and (max-width: 1114px) {
.icons {
    width: 79%;
	}
}
@media only screen and (max-width: 1052px) {
.icons {
    width: 83%;
	}
}
@media only screen and (max-width: 1008px) {
.icons p {
    font-size: 20px;
}
}
@media only screen and (max-width: 884px) {
.icons {
    width: 90%;
	}
	.icons img.aroimg {
    WIDTH: 14%;
    margin: auto 0;
	}
}
@media only screen and (max-width: 792px) {
.icons .icon-sec {
    padding: 10px 10px 10px 16px;
}
}
@media only screen and (max-width: 425px) {
.icons {
	padding: 0 0;
}
.icons .icon-sec {
    padding: 10px 5px 10px 5px;
}
}
@media only screen and (max-width: 320px) {
.icons {
    width: 98%;
}
}
